NEXT_PUBLIC_POSTHOG_KEY=phc_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
# Décommenter pour activer PostHog en dev (désactivé par défaut)
# NEXT_PUBLIC_POSTHOG_DEBUG=true
